.FoodPage_content{
    position: relative;
}

.FoodPage_intro{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 90px;
}

.FoodPage_intro{
    color: var(--vblack);
    font-size: 1.6rem;

}

.FoodPage_icon{
   
    width: 20%;
    margin: 0 auto;
    margin-top: 60px;
}

.FoodPage_SearchBar{
   
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid  var(--vGrey);
    border-bottom: 1px solid  var(--vGrey);
    padding: 40px 0px;
    
}

.FoodPage_SearchBar h1{
    margin: 0 60px;
    color: var(--vblack);
    font-size: 2rem;
    font-family: 'Noto Serif TC', serif;;
   
}

.FoodPage_SearchBar select{ 
    width: 50%;
    max-width: 354px;
    font-size: 1.6rem;
    font-weight: 350;
}

.FoodPage_PicWarp{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   
    
    margin-top: 120px;
}


.FoodPage_Pic{
    position: relative;
   cursor: pointer;
    overflow: hidden;
    height: 375px;
}

.FoodPage_Pic img{
    height: 100%;
    object-fit: cover;
}

.FoodPic_detail{
    transition: 1s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
   
    
}
.FoodPic_detail:hover{
    opacity: 1;
    
}

.detailbg{
  
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;


}
.Pic_detail_warp{
    position: absolute;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.Pic_detail_btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    
}

.detail_btn_link{
    display: flex;
}

.detail_btn{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 1.6rem;
    color:white;
}

.Pic_detail_name{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    
}
.Pic_detail_name h3{
    font-size: 2.4rem;
    font-weight: 400;
}
.Pic_detail_name h4{
    font-size: 1.6rem;
    font-weight: 330;
}


@media (max-width: 767px) { 

    .Pic_detail_warp{
        position: absolute;
        width: 100%;
        height: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px;
    }

    .detail_btn{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        font-size: 1.2rem;
        color:white;
    }


    .Pic_detail_name{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        color: white;
        
    }

    .Pic_detail_name h3{
        font-size: 1.8rem;
        font-weight: 400;
    }
    .Pic_detail_name h4{
        font-size: 1.4rem;
        font-weight: 330;
    }

}

#FoodPic01{
    width: 30%;
    background-color: pink;
}
#FoodPic02{
    width: 40%;
    background-color: #afa
}
#FoodPic03{
    width: 30%;
    background-color: cyan;

}
#FoodPic04{
    width: 55%;
    background-color: orange;

}
#FoodPic05{
    width: 45%;
    background-color: brown;

}
#FoodPic06{
    width: 35%;
    background-color: red;

}
#FoodPic07{
    width: 30%;
    background-color: blue;

}
#FoodPic08{
    width: 35%;
    background-color: purple;

}
#FoodPic09{
    width: 30%;
    background-color: yellow;

}
#FoodPic10{
    width: 40%;
    background-color: peru;

}
#FoodPic11{
    width: 30%;
    background-color: salmon;

}
#FoodPic12{
    width: 55%;
    background-color: gray;

}
#FoodPic13{
    width: 45%;
    background-color: lawngreen;

}

#FoodPic14{
    width: 35%;
    background-color: red;

}
#FoodPic15{
    width: 30%;
    background-color: blue;

}
#FoodPic16{
    width: 35%;
    background-color: purple;


}

@media (max-width: 767px) { 

    .FoodPage_Pic{
   
        overflow: hidden;
        height: 180px;
    }


    #FoodPic01{
        width: 50%;
        background-color: pink;
    }
    #FoodPic02{
        width: 50%;
        background-color: #afa
    }
    #FoodPic03{
        width: 50%;
        background-color: cyan;
    
    }
    #FoodPic04{
        width: 50%;
        background-color: orange;
    
    }
    #FoodPic05{
        width: 50%;
        background-color: brown;
    
    }
    #FoodPic06{
        width: 50%;
        background-color: red;
    
    }
    #FoodPic07{
        width: 50%;
        background-color: blue;
    
    }
    #FoodPic08{
        width: 50%;
        background-color: purple;
    
    }

    #FoodPic09{
        display: none;
        
    
    }
    #FoodPic10{
        display: none;
       
    }
    #FoodPic11{
        display: none;
    
    }
    #FoodPic12{
        display: none;
    
    }
    #FoodPic13{
        display: none;
    
    }
    
    #FoodPic14{
        display: none;
    
    }
    #FoodPic15{
        display: none;
    
    }
    #FoodPic16{
        display: none;
    
    
    }


}

.FoodPage_panWarp{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 120px;
}

.FoodPage_panBtn{
    cursor: pointer;
    margin-left: 80px;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
}

#panBtn_Prev{
    background-image: url('../images/icon/arrowWithBorderLeft_01_default.svg');

}
#panBtn_Next{
    background-image: url('../images/icon/arrowWithBorderRight_01_default.svg');
}


@media (max-width: 1025px) { }

@media (max-width: 767px) { 


    .FoodPage_intro{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 40px;
    }

    .FoodPage_icon{
   
        width: 50%;
        margin: 0 auto;
        margin-top: 60px;
    }

    .FoodPage_PicWarp{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
       
        
        margin-top: 40px;
    }
    

    

    .FoodPage_SearchBar{
   
        width: 90%;
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 1px solid  var(--vGrey);
        border-bottom: 1px solid  var(--vGrey);
        padding: 40px 0px;
        
    }

    .FoodPage_SearchBar h1{
        margin: 0 10px;
        margin-bottom: 30px;
        color: var(--vblack);
        font-size: 2rem;
        font-family: 'Noto Serif TC', serif;;
       
    }

    .FoodPage_SearchBar select{ 
        width: 95%;
        max-width: 354px;
        font-size: 1.6rem;
        font-weight: 350;
    }

    .FoodPage_panWarp{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .FoodPage_panBtn{
        cursor: pointer;
        margin-left: 30px;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
    }
}



