/* ///////////////景點查詢頁////////////////*/

.HomePage{
    opacity: 0;
    transition: 0.8s;
    padding-top: 75px;
    width: 100%;
}

.HomePage_header{

    width: 100%;
    height: 150px;
    background-image: url('../images/Banner04.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.pageNav{
    width: 100%;
    /* height: 50px; */
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 40px;

    /* background-color: cyan; */
}

.pageNav_item{
    position: relative;
    margin-right: 30px;
    color: var(--vblack);
}
.pageNav_item h4{
    font-size: 1.6rem;
   

}

.pageNav_item::after{

    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    /* background-color: red; */
    right: -25px;
    top: 0;
    background-image: url('../images/icon/right-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;

}

.pageNav_item:last-child{
    color: var(--light_blue);
}

.pageNav_item:last-child::after{

    background-image: none

}

/*////////景點查詢///////// */
.ViewPage{
   /* display: none; */
}

/* 熱門景點輪播牆 */
.hotView_title h2{
    font-weight: 400;
    color:var(--vblue);
    margin-bottom: 30px;    
}


.hotView_warp{
    position: relative;
    z-index: 7;
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: 250px;
   
    margin: 0 auto;
    overflow: hidden;
    /* min-height: 250px */
    /* background-color: red; */
    white-space: nowrap;
}

.hotView_warp::before{
    z-index: 8;
    position: absolute;
    content: '';
    width: 300px;
    height: 250px;
    background: linear-gradient(to right,white  10%, transparent 40%);;
    top: 0;
    left: 0px;




}
.hotView_warp::after{
    z-index: 8;
    position: absolute;
    content: '';
    width: 300px;
    height: 250px;
    background: linear-gradient(to left,white  10%, transparent 40%);;
    top: 0;
    right: 0px;




}

.hotView_row{
    position: absolute;
    top: 0;
    left: -2400px;
    display: flex;
    transition: 0.8s;

}

.hotViewBox{
    display: flex;
}
.hotView_pic{
    cursor: pointer;
    width: 400px;
    height: 250px;
    margin-right: 50px;
    transform: scale(0.9);
    transition: 0.8s;
    border-radius: 20px;
    background-color: var(--vGrey);
    overflow: hidden;
   
}
.hotView_pic img{
    height: 100%;
    object-fit: cover
}
.hotViewDetail{
    display: flex;
    width: 100%;
    height: 100%;

    padding: 10px;
    transition: 1s;
}

.clickCount{
    position: absolute;
    top: 10px;
    right: 15px;

}
.clickCount h5{
    position: relative;
    font-size: 1.6rem;
    color: white;
    font-weight: 400;
}

.clickCount h5::before{
    position: absolute;
    content: '';
    display: block;
    width: 25px;
    height: 25px;
   
    left: -30px;
    top: -4px;
    background-image: url('../images/icon/click.svg');
    background-size: contain;
    background-repeat: no-repeat;

}

.hotViewName{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    
}

.hotViewName h4{
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
}

.hotView_pic:nth-of-type(2){

    transform: scale(1);

}



.hotView_warp #prev{
    z-index: 9;
    position: absolute;
    left: 240px;
    top: 40%;
    width: 40px;
    height: 50px;
    background-color: transparent;
    background-image: url('../images/icon/arrowLeft.svg');
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;

}
.hotView_warp #next{
    z-index: 9;
    position: absolute;
    right:240px;
    top: 40%;
    width: 40px;
    height: 50px;
   background-color: transparent;
    background-image: url('../images/icon/arrowRight.svg');
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
    
}


@media (max-width: 1025px) {

    .hotView_warp{
     
        height: 130px;
    
    }

    .hotView_row{
        position: absolute;
        top: 0;
        left: 0;
        /* left: -75px; */
        display: flex;
        transition: 0.8s;
       
        /* transform: translateX(-210px); */
    
    }


    .hotView_pic{
    
        width: 200px;
        height: 130px;
        margin-right: 10px;
        transform: scale(1);
        transition: 0.8s;
        border-radius: 20px;
        background-color: var(--vGrey);
        overflow: hidden;
       
    }


    .hotView_warp #prev{
        background: none
    
    }
    .hotView_warp #next{
        background: none
        
    }


    .hotView_warp::before{
        
        background: none
    
    
    
    }
    .hotView_warp::after{
   
        background: none
    
    
    
    }

    .hotViewDetail{
        display: flex;
        width: 100%;
        height: 100%;
        
        padding: 10px;
        transition: 0.5s;
    }

    .clickCount{
        position: absolute;
        top: 10px;
        right: 8px;
    
    }

    .clickCount h5{
        position: relative;
        font-size: 1.4rem;
        color: white;
        font-weight: 400;
    }
    
    .clickCount h5::before{
        position: absolute;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
       
        left: -25px;
        top: -4px;
        background-image: url('../images/icon/click.svg');
        background-size: contain;
        background-repeat: no-repeat;
    
    }

    .hotViewName{
        position: absolute;
        bottom: 8px;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0px 5px;
        
    }

    .hotViewName h4{
        color: white;
        font-size: 1.4rem;
        font-weight: 400;
    }




}

@media (max-width: 767px) {

    .hotView_warp{
        
        height: 130px;
                       
    }


    .hotView_row{
        position: absolute;
        top: 0;
        left: 0;
        /* left: -75px; */
        display: flex;
        transition: 0.8s;
       
        /* transform: translateX(-210px); */
    
    }


    .hotView_pic{
    
        width: 200px;
        height: 130px;
        margin-right: 10px;
        transform: scale(1);
        transition: 0.8s;
        border-radius: 20px;
        background-color: var(--vGrey);
        overflow: hidden;
       
    }


    .hotView_warp #prev{
        background: none
    
    }
    .hotView_warp #next{
        background: none
        
    }


    .hotView_warp::before{
        
        background: none
    
    
    
    }
    .hotView_warp::after{
   
        background: none
    
    
    
    }

    .hotViewDetail{
        display: flex;
        width: 100%;
        height: 100%;
 
        padding: 10px;
        transition: 0.5s;
    }

    .clickCount{
        position: absolute;
        top: 10px;
        right: 8px;
    
    }

    .clickCount h5{
        position: relative;
        font-size: 1.4rem;
        color: white;
        font-weight: 400;
    }
    
    .clickCount h5::before{
        position: absolute;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
       
        left: -25px;
        top: -4px;
        background-image: url('../images/icon/click.svg');
        background-size: contain;
        background-repeat: no-repeat;
    
    }

    .hotViewName{
        position: absolute;
        bottom: 8px;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0px 5px;
        
    }

    .hotViewName h4{
        color: white;
        font-size: 1.4rem;
        font-weight: 400;
    }

}
/* ///////景點查詢搜尋頁////// */
.ViewPage_Content{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

}


/* 景點查詢分頁按鈕 */
.ViewPagination_warp{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 80px;
    display: flex;
    justify-content:flex-end;
    align-items: center;

}

.ViewPagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ptn{
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--vGrey);
    border-radius: 10px;
    background-color: white;
    margin: 0 5px;
    font-size: 1.6rem;  
    color:var(--vGrey);
}

.ptn:hover{

    transition: 0.8s;
    border: 1px solid var(--vblue);

    
}



.ptn_warp{
    display: flex;
    justify-content: center;
}

.ptnPrev{

    border: 0.5px solid var(--vblue);
    background-image: url('../images/icon/arrowWithBorderLeft_default.svg');
    background-size: contain;
    background-position: center;

}

.ptnNext{

    border: 0.5px solid var(--vblue);
    background-image: url('../images/icon/arrowWithBorderRight_default.svg');
    background-size: contain;
    background-position: center;


}

.ptn_active{
    background-color: var(--vblue);
    border: 1px solid transparent;
    color:white;

}

@media (max-width: 767px) { 


    .ViewPagination_warp{
        width: 100%;
        height: 45px;
        margin-top: 20px;
        margin-bottom: 60px;
        display: flex;
        justify-content:center;
        align-items: center;
    
    }

    .ptn{
        cursor: pointer;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--vGrey);
        border-radius: 10px;
        background-color: white;
        margin: 0 5px;
        font-size: 1.6rem;  
        color:var(--vGrey);
    }

    .ptn_active{
        background-color: var(--vblue);
        border: 1px solid transparent;
        color:white;
    
    }
}


/* 景點查詢搜尋欄 */
.View_searchBar{
    width: 30%;
}

.searchBar_title h2{
    font-weight: 400;
    display: none;
    color:var(--vblue);
    margin-bottom: 20px; 
}

/* * 景點查詢搜尋結果 */
.View_searchList{

    width: 65%;
    /* min-height: 1200px; */
    

}


@media (max-width: 767px) {

    .ViewPage_Content{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }


    .View_searchBar{
        width: 100%;
    }

    .searchBar_title h2{
        display: block;
    }


    .View_searchList{

        margin-top: 40px;
        width: 100%;
        /* height: 800px; */

      

    }
    

}

/* /////////////////搜尋欄///////////////////// */
.searchfilter_input{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4px 8px transparent;
    overflow: hidden;
    box-shadow: 0px 4px 8px #0000004B;
    margin-bottom: 30px;
}

.searchfilter_input input{
   

}


.ViewSearch{
    max-width: 280px;
    width: 90%;
    height: 100%;
    background-color: white;
    border:1px solid transparent;
    font-size: 1.6rem; 
    padding-left: 10px;
    font-weight: 400;
}

.SearchBtn{
  
   height: 100%;
   width: 56px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
}

.SearchBtn img{
    width: 50%;
   
}


@media (max-width: 767px) {


    .searchfilter_input{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
    }
    
    


}

.search_filter{
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 8px #0000004B;
    min-height: 500px;
    border-radius: 15px;
    padding: 20px 10px;
    
    
}

.search_filterRegion{
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.search_filterTitle{
    margin-bottom: 20px;
}
.search_filterTitle h2{
    font-weight: 400;
    color:var(--vblack)
}

.search_filterRegion{
    margin-top: 10px;
    
}
.search_filterRegion h2{
    font-size: 2.2rem;
    color: var(--vblue);
    font-weight: 400;
    margin-bottom: 15px;
}

.search_filterRegion select{
    width: 100%;
    height: 40px;
    font-size: 1.6rem;
    margin-bottom: 10px;
}


.search_filterCate h2{
    font-size: 2.2rem;
    color: var(--vblue);
    font-weight: 400;
    margin-bottom: 15px;
}

.filterCate{
    display: flex;
    align-items: center;
}

.filterCate h4{
    margin-top: 3px;
    margin-left: 10px;
    color: var(--vblack);
    font-weight: 400;
}
.filterBtn{
    width: 150px;
    height: 50px;
    background-color: var(--vYellow);
    border-radius: 15px;
    font-size: 1.8rem;
    color: white;
    font-family: 'EB Garamond', serif;
}
.filterBtn_warp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

/* //////////搜尋內容頁/////////////  */

.listSort_warp{
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.listSort_btn{
    position: relative;
    
   height: 50px;
   width: 170px;
   font-size: 1.6rem;  
   border-radius: 15px;
   background-color: white;
   box-shadow: 0px 4px 8px #0000004B;
   color: var(--vblack);
   padding-left: 30px;
   margin-bottom: 30px;
}

.listSort_btn::before{
    content: "排序：";
}

.listSort_btn::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;

    background-image: url('../images/icon/arrangement.svg');
    background-repeat: no-repeat;
    background-size: contain;
    left: 18px;
    top: 25%;

}

.SearchList_warp{
    width: 100%;
    min-height: 750px;
   
    
}


.SearchList{
    cursor: pointer;
    width: 100%;
    height: 240px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 4px 8px #0000002E;
    margin-bottom: 40px;
    overflow: hidden;
    display: flex;

}


.ListPic{
    width: 40%;
    height: 100%;
    background-color:var(--vGrey);
    background-image: url('../images/taiwan_logo_white.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

}

.ListPic img{
    height: 100%;
    object-fit: cover;
}

.ListContent{
    position: relative;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.ListContent_title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: green; */
    margin-top: 8px;
    min-height: 35px;
    margin-bottom: 10px;

}

.ListContent_name h1{

    max-width: 300px;
    color: var(--vblue);
    word-wrap:break-word;
    white-space:wrap
}

.ListContent_tag{
    min-width: 90px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--vYellow);
    display: flex;
    font-size: 1.4rem;
    color: white;

    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.ListContent_intro{
    min-height: 25px;
}
.ListContent_intro p{
    font-size: 1.6rem;
    color:  var(--vblack);

}

.ListContent_bottom{
    min-height: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;


   
}

.ListContent_Detail{
    display: flex;
    align-content: center;
}

.ListContent_Detail h4{
    font-size: 1.6rem;
    font-weight: 400;
    color:  var(--vblack);
}


.ListContent_location{
    position: relative;
    margin: 0 20px;
}

.ListContent_location::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -20px;
    background-image: url('../images/icon/site.svg');
    background-size: contain;

}
.ListContent_time{
    position: relative;
    margin-left: 10px;
}
.ListContent_time::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -22px;
    background-image: url('../images/icon/time.svg');
    background-size: contain;
    

}

.ListContent_count{
   
    display: flex;
    justify-content: center;
    align-items: center;


}

.ListContent_count h5{

    position: relative;
    font-size: 1.6rem;
    font-weight: 400;
    color:  var(--vblack);

}

.ListContent_count h5::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: -22px;
    background-image: url('../images/icon/click.svg');
    background-size: contain;
}

@media (max-width: 1025px) {

    .SearchList{
        width: 100%;
        height: 150px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 4px 8px #0000002E;
        margin-bottom: 40px;
        overflow: hidden;
        display: flex;
      
    }

    .ListContent_intro{
        display: none;
    }

    .ListContent_bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        height: 80%;
        max-height: 177px;
        width: 100%;
    
       
    }

    .ListContent_Detail{
    
        display: flex;
        align-content: center;
        flex-direction: column;
        
    }

    .ListContent_Detail h4{
        font-size: 1.4rem;
        font-weight: 400;
        color:  var(--vblack);
    }
    


    .ListContent_location{
        position: relative;
        margin: 0px;
        margin-left: 18px;
    }
  

    .ListContent_time{
        position: relative;
        margin-left: 20px;
    }

  
    .ListContent_count{
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
    
    
    }

    .ListContent_count h5{
        
        font-size: 1.6rem;
        font-weight: 400;
        color:  var(--vblack);
        
    
    }

    
    .ListContent_count h5::before{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: -2px;
        left: -22px;
        background-image: url('../images/icon/click.svg');
        background-size: contain;
    }

}

@media (max-width: 767px) {

    .SearchList{
        width: 100%;
        height: 180px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 4px 8px #0000002E;
        margin-bottom: 40px;
        overflow: hidden;
        display: flex;
    
    }


    .ListPic{
        width: 46%;
        height: 100%;
        background-color:var(--vGrey)
    }

    .ListContent{
        position: relative;
        width: 54%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px;
    }

    .ListContent_title{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 0px;
        min-height: 50px;
        margin-bottom: 8px;
    
    }

    .ListContent_name h1{
        font-size: 1.8rem;
        color: var(--vblue);
    }

    /* .ListContent_title{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 8px;
        height: 35px;
        margin-bottom: 10px;
    
    }

    
    
    .ListContent_tag{
        min-width: 60px;
        height: 25px;
        border-radius: 15px;
        background-color: var(--vYellow);
        display: flex;
        font-size: 1.2rem;
        color: white;
    
        font-weight: 400;
        justify-content: center;
        align-items: center;
    }


    .ListPic{
        width: 50%;
        height: 100%;
        background-color:var(--vGrey)
    }

    .ListContent{
        position: relative;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px;
    }

    .ListContent_intro{
        display: none;
    }

    .ListContent_bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        height: 80%;
        max-height: 177px;
        width: 100%;
    
       
    }

    .ListContent_Detail{
        background-color: pink;
        display: flex;
        align-content: center;
        flex-direction: column;
        
    }

    .ListContent_Detail h4{
        font-size: 1.4rem;
        font-weight: 400;
        color:  var(--vblack);
    }
    


    .ListContent_location{
        position: relative;
        margin: 0px;
        margin-left: 18px;
    }
  

    .ListContent_time{
        position: relative;
        margin-left: 20px;
    }

  
    .ListContent_count{
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
    
    
    }

    .ListContent_count h5{
        
        font-size: 1.6rem;
        font-weight: 400;
        color:  var(--vblack);
        
    
    }

    
    .ListContent_count h5::before{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: -2px;
        left: -22px;
        background-image: url('../images/icon/click.svg');
        background-size: contain;
    } */


   

   

}


/* ////////景點結果頁面/////// */
.ViewIntro{

    display: none;
}
.ViewIntro_warp{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;


    
}

.ViewIntro_Detail{
    width: 35%;
    height: 600px;
}

.ViewIntro_title{
    display: flex;
    align-items: center;

    width: 100%;
    max-height: 35px;
    margin-bottom: 40px;

}

.ViewIntro_title h1{
    color: var(--vblue);
    font-size: 2.4rem;
    font-weight: 400;
    
}


.ViewIntro_tag{
    cursor: pointer;
    width: 75px;
    height: 30px;
    background-color: var(--vYellow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 1.4rem;
    color: white;
    font-weight: 350;
    margin: 0 15px;
}

.ViewIntro_click{
    margin-left: 25px;
}
.ViewIntro_click h5{
    position: relative;
    font-size: 1.6rem;
    color: var(--vblack);
}

.ViewIntro_click h5::before{
    content: '';
    position: absolute;
    top: -3px;
    left: -26px;
    width: 23px;
    height: 23px;
    background-image: url('../images/icon/click.svg');
    background-position: center;
    background-size: contain;

}

.ViewIntro_Info{
    position: relative;
    width: 100%;
   
    padding-left: 30px;
  
}

.ViewInfo_title{
    width: 100%;
    position: relative;
    
}

.ViewInfo_title::before{
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1px;
    left: -30px;
    border-radius: 100%;
    background-color: var(--vblue);
}

.ViewInfo_title h2{
    font-size: 1.8rem;
    color: var(--vblack);
    
}

.ViewInfo_detail{
    
    padding-top: 30px;
   
    padding-left: 45px;
}

.detail_list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    margin-bottom: 40px;
}

.detail_list h4{
    position: relative;
    color: var(--vblack);
    font-size: 1.6rem;
    
    

}

.detail_list::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
   
    top: -5px;
    left: -42px;
    background-size: contain;
    background-repeat: no-repeat;


}

#View_location::before{
    background-image: url('../images/icon/map.svg');

}

#View_location h4::after{
    cursor: pointer;
    content: '';
    position: absolute;
    top: -1px;
    right: -25px;
    width: 20px;
    height: 20px;
    background-image: url('../images/icon/linkArrow_default.svg');
    background-size: contain;
}

#View_phone::before{
    background-image: url('../images/icon/phone.svg');

}

#View_phone h4::after{
    cursor: pointer;
    content: '';
    position: absolute;
    top: -1px;
    right: -25px;
    width: 20px;
    height: 20px;
    background-image: url('../images/icon/linkArrow_default.svg');
    background-size: contain;
}

#View_openTime::before{
    background-image: url('../images/icon/time.svg');

}

#View_park::before{
    background-image: url('../images/icon/transportation.svg');

}

#View_link::before{
    background-image: url('../images/icon/information.svg');

}

#View_link h4::after{ 
    cursor: pointer;
    content: '';
    position: absolute;
    top: -1px;
    right: -25px;
    width: 20px;
    height: 20px;
    background-image: url('../images/icon/linkArrow_default.svg');
    background-size: contain;
}

.Title_lineFrame{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 20px;
    height: 525px;

    top: 5px;
    left: 0px;
    /* background-color: #afa; */
}

.Title_line{
    width: 1px;
    transition: 3s;
    height: 0%;
    background-color: var(--vblue);

}

/* 景點圖片 */
.ViewIntro_PicWarp{
    position: relative;
    width: 60%;
    max-width: 660px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
  
    
    
}

.ViewIntro_PicRow{
    position: absolute;
    transition: 0.8s;
    display: flex;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-660px);
    
}

.ViewIntro_Pic{
    width: 660px;
    height: 100%;
}

.ViewIntro_Pic img{
    height: 100%;
    object-fit: cover
}

.PicDot_warp{
    position: absolute;
    min-width: 300px;
    height: 13px;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.PicDot_warp ul{
    display: flex;
    justify-content: center;
}

.PicDot_warp li{

    width: 13px;
    height: 13px;
    margin: 0 5px;
    border-radius: 100%;
    background-color: #FFFFFF;
    
}

.dotActive{
    background-color: var(--vblue) !important;
}


@media (max-width: 1025px) {


    .ViewIntro_Detail{
        width: 48%;
       
        height: 550px;
    }

    .ViewIntro_PicWarp{
        position: relative;
        width: 50%;
        max-width: 345px;
        height: 400px;
        border-radius: 20px;
        overflow: hidden;
      
        
        
    }

    .ViewIntro_Pic{
        width: 345px;
        height: 100%;
    }

    .ViewIntro_title h1{
        margin-top: 5px;
        color: var(--vblue);
        font-size: 1.8rem;
        font-weight: 400;

    }

    .Title_lineFrame{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 475px;
    
        top: 5px;
        left: 0px;
       
    }

   
    

}
@media (max-width: 767px) {


    .ViewIntro_warp{

        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
    
    
        
    }

    .ViewIntro_PicWarp{
        position: relative;
        width: 100%;
        max-width: 345px;
        height: 240px;
        border-radius: 20px;
        overflow: hidden;
        margin-top: 65px;
        margin-bottom: 25px;
      
        
        
    }

    .ViewIntro_Pic{
        width: 345px;
        height: 100%;
    }

    .PicDot_warp li{

        width: 8px;
        height: 8px;
        margin: 0 5px;
        border-radius: 100%;
        background-color: #FFFFFF;
        
    }

    .ViewIntro_title{
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        max-height: 35px;
        margin-bottom: 30px;
    
    }

    .ViewIntro_title h1{
        margin-top: 5px;
        color: var(--vblue);
        font-size: 1.8rem;
        font-weight: 400;

    }
   

    .ViewIntro_Detail{
        
        width: 100%;
    
        height: 500px;
    }

    
    .Title_lineFrame{
        position: absolute;
        display: flex;
        justify-content: center;
        width: 20px;
        height: 500px;
    
        top: 5px;
        left: 0px;
       
    }


}

.ViewIntro_content{
    width: 100%;
    padding:0px 30px;
 
}


.ViewIntro_contentTitle{
    
    position: relative;
}

.ViewIntro_contentTitle h2{
    
    font-size: 1.8rem;
    color: var(--vblack);

}

.ViewIntro_contentTitle::before{
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1px;
    left: -30px;
    border-radius: 100%;
    background-color: var(--vblue);
}

.ViewIntro_contentText{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;

}

.ViewIntro_contentText p{
    
    font-size: 1.6rem;
    color: var(--vblack);

}

@media (max-width: 1025px) {

    .ViewIntro_contentText{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 60px;
    }


}


@media (max-width: 767px) {

    .ViewIntro_contentText{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    

}

.ViewMoreIcon{
    width: 50px;
    height: 150px;
    margin: 0 auto;
   


}

.ViewMoreIcon img{
    height: 100%;
    object-fit: contain;
}


.ViewMore{
    margin-top: 40px;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 60px;
   
}

.ViewMore h2{
    text-align: center;
    color: var(--vblue);
    font-size: 2rem;
    margin-bottom: 30px;

}

.ViewMoreWarp{
    margin: 0 auto;
    width: 100%;
    display: flex;
    height: 310px;
    
    overflow-y: auto;




}

.ViewMoreWarp::-webkit-scrollbar { 
    width: 0 !important 
}

.ViewMoreWarp{ 

    -ms-overflow-style: none; 
}

.ViewMoreWarp{ 

    overflow: -moz-scrollbars-none; 
}


.ViewMoreRow{
    margin: 0 auto;
    display: flex;
    width: 1200px;
    height: 305px;
    justify-content: space-around;
    align-items: flex-start;
}

.MoreItem{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 15px;
    overflow: hidden;

}

.MoreItemPic{
    position: relative;
    width: 215px;
    height: 215px;
    background-color: #EBEBEB
}

.MoreItemPic img{
    height: 100%;
    object-fit: cover;

}
.SitePic_tag{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 30px;
    background-color: var(--vYellow);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: white;

}

.MoreItemName{
    width: 100%;
    height: 30%;
    max-height: 90px;
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
   
}

.MoreItemName h2{

    text-align: left;
    margin-bottom: 15px;


}



.MoreItemName h5{
    position: relative;
    font-size: 1.6rem;
    color: var(--vblack);
    padding-left: 25px;
}

.MoreSiteName h5::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 0;
    left: 0px;
    background-image: url('../images/icon/click.svg');
    background-size: contain;
    background-position: center;
}

.MoreFoodName h5::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 0;
    left: 0px;
    background-image: url('../images/icon/site.svg');
    background-size: contain;
    background-position: center;
}

.MoreHotelName h5::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 0;
    left: 0px;
    background-image: url('../images/icon/click.svg');
    background-size: contain;
    background-position: center;
}

@media (max-width: 767px) {

    .MoreItem{
     
        margin-right: 10px;
        box-shadow: 2px 0px 3px #00000029;
    
    }


}